Repository base-cms/id-me, pull requests merged in 2020-02, with the labels that each got.

#37 AppUser export support
  docker-compose.yml
  packages/service-clients/src/clients/export.js
  packages/service-clients/src/clients/index.js
  services/export/.eslintrc.js
  services/export/newrelic.js
  services/export/package.json
  services/export/src/actions/index.js
  services/export/src/actions/user/export-for-app.js
  services/export/src/actions/user/index.js
  services/export/src/env.js
  services/export/src/index.js
  services/export/src/newrelic.js
  services/export/src/s3.js
  services/export/src/utils/index.js
  services/export/src/utils/send-failure.js
  services/export/src/utils/send-sucess.js
  services/export/src/utils/stream-results.js
  services/graphql/src/graphql/definitions/app-user.js
  services/graphql/src/graphql/resolvers/app-user.js
  services/manage/app/components/button/export.js
  services/manage/app/controllers/manage/orgs/view/apps/view/users.js
  services/manage/app/templates/components/button/export.hbs
  services/manage/app/templates/manage/orgs/view/apps/view/users.hbs
  yarn.lock
Labels: ⚙️ export, ⚙️ graphql, ⚙️ manage

#39 Ensure new user fields pass validation
  services/application/src/actions/user/send-login-link.js
Labels: ⚙️ application

#40 Configure sending domain, contact information
  docker-compose.yml
  services/application/src/actions/user/send-login-link.js
  services/application/src/env.js
  services/export/src/env.js
  services/export/src/utils/send-failure.js
  services/export/src/utils/send-sucess.js
  services/membership/src/actions/invite.js
  services/membership/src/env.js
  services/user/src/actions/send-login-link.js
  services/user/src/env.js
Labels: ⚙️ application, ⚙️ export, ⚙️ membership, ⚙️ user

#42 Do not save unverified fields on login token
  services/application/src/actions/user/login.js
  services/application/src/actions/user/send-login-link.js
  services/graphql/src/graphql/definitions/app-user.js
  services/graphql/src/graphql/resolvers/app-user.js
  services/manage/app/templates/components/app-user/card.hbs
  services/manage/app/templates/components/app-user/modal-form.hbs
Labels: ⚙️ application, ⚙️ graphql, ⚙️ manage

#52 Check for burner domain when login link is sent
  services/application/src/actions/user/send-login-link.js
Labels: ⚙️ application
