Repository base-cms/id-me, pull requests merged in 2020-03, with the labels that each got.

#53 Add Organization consent policy and settings interface
  services/graphql/src/graphql/definitions/organization.js
  services/graphql/src/graphql/resolvers/organization.js
  services/manage/app/controllers/manage/orgs/view/settings.js
  services/manage/app/router.js
  services/manage/app/routes/manage/orgs/view/settings.js
  services/manage/app/templates/components/nav-bar/item.hbs
  services/manage/app/templates/components/nav-bar/primary.hbs
  services/manage/app/templates/components/nav-bar/user-dropdown.hbs
  services/manage/app/templates/manage/orgs/view/settings.hbs
  services/organization/src/actions/index.js
  services/organization/src/mongodb/schema/organization.js
Labels: ⚙️ graphql, ⚙️ manage, ⚙️ organization

#54 Add organization to Application and return app with context
  services/graphql/src/graphql/definitions/app-user.js
  services/graphql/src/graphql/definitions/application.js
  services/graphql/src/graphql/resolvers/app-user.js
  services/graphql/src/graphql/resolvers/application.js
Labels: ⚙️ graphql

#55 Display loading spinner in nav bar on transition
  services/manage/app/components/nav-bar/loading.js
  services/manage/app/styles/app.scss
  services/manage/app/templates/components/nav-bar/loading.hbs
  services/manage/app/templates/components/nav-bar/secondary.hbs
Labels: ⚙️ manage

#56 Add region and postal code to user export
  services/export/src/actions/user/export-for-app.js
Labels: ⚙️ export

#59 Remove `fullTitle` from comment stream; add comment refresh and quick filters
  services/application/src/actions/comment-stream/create.js
  services/application/src/mongodb/schema/comment-stream.js
  services/graphql/src/graphql/definitions/comment-stream.js
  services/manage/app/components/comment/list-item.js
  services/manage/app/graphql/fragments/comment-list.js
  services/manage/app/mixins/app-query.js
  services/manage/app/routes/manage/orgs/view/apps/view/comments.js
  services/manage/app/services/autocomplete.js
  services/manage/app/styles/app.scss
  services/manage/app/templates/components/comment/fields/streams.hbs
  services/manage/app/templates/components/comment/list-item.hbs
  services/manage/app/templates/manage/orgs/view/apps/view/comments.hbs
  services/manage/package.json
  yarn.lock
Labels: ⚙️ service: application, ⚙️ service: graphql, ⚙️ service: manage

#60 Add org company info and application context support
  packages/mongoose-plugins/src/email-plugin.js
  packages/mongoose-plugins/src/email-validator.js
  packages/mongoose-plugins/src/index.js
  packages/mongoose-plugins/src/locale-plugin.js
  packages/utils/src/index.js
  packages/utils/src/strip-lines.js
  services/application/package.json
  services/application/src/actions/add-context.js
  services/application/src/actions/index.js
  services/application/src/actions/remove-context.js
  services/application/src/actions/update-context.js
  services/application/src/actions/user/send-login-link.js
  services/application/src/mongodb/schema/app-user.js
  services/application/src/mongodb/schema/application.js
  services/graphql/src/graphql/definitions/app-user.js
  services/graphql/src/graphql/definitions/application.js
  services/graphql/src/graphql/definitions/organization.js
  services/graphql/src/graphql/definitions/user.js
  services/graphql/src/graphql/resolvers/app-user.js
  services/graphql/src/graphql/resolvers/application.js
  services/graphql/src/graphql/resolvers/organization.js
  services/graphql/src/graphql/resolvers/user.js
  services/manage/app/controllers/manage/orgs/view/apps/list/edit/contexts/add.js
  services/manage/app/controllers/manage/orgs/view/apps/list/edit/contexts/edit.js
  services/manage/app/controllers/manage/orgs/view/apps/list/edit/index.js
  services/manage/app/controllers/manage/orgs/view/settings.js
  services/manage/app/graphql/fragments/organization-company.js
  services/manage/app/mixins/action-mixin.js
  services/manage/app/mixins/org-query.js
  services/manage/app/router.js
  services/manage/app/routes/manage/orgs/view/apps/list/edit.js
  services/manage/app/routes/manage/orgs/view/apps/list/edit/contexts/add.js
  services/manage/app/routes/manage/orgs/view/apps/list/edit/contexts/edit.js
  services/manage/app/routes/manage/orgs/view/settings.js
  services/manage/app/styles/app.scss
  services/manage/app/styles/bootstrap/_variables.scss
  services/manage/app/templates/components/application/context/fields.hbs
  services/manage/app/templates/components/application/modal-form.hbs
  services/manage/app/templates/components/application/modal-form/general-fields.hbs
  services/manage/app/templates/manage/orgs/view/apps/list/edit.hbs
  services/manage/app/templates/manage/orgs/view/apps/list/edit/contexts.hbs
  services/manage/app/templates/manage/orgs/view/apps/list/edit/contexts/add.hbs
  services/manage/app/templates/manage/orgs/view/apps/list/edit/contexts/edit.hbs
  services/manage/app/templates/manage/orgs/view/apps/list/edit/contexts/index.hbs
  services/manage/app/templates/manage/orgs/view/apps/list/edit/index.hbs
  services/manage/app/templates/manage/orgs/view/apps/view/comments.hbs
  services/manage/app/templates/manage/orgs/view/settings.hbs
  services/organization/package.json
  services/organization/src/actions/index.js
  services/organization/src/actions/update-company-info.js
  services/organization/src/mongodb/schema/organization.js
Labels: ⚙️ service: application, ⚙️ service: graphql, ⚙️ service: manage, ⚙️ service: organization, 📦 package: mongoose-plugins, 📦 package: utils
